{%  extends 'schoolpass/base.html' %}
{% block content %}
<h1>Pass Information</h1>
    {% if user.is_authenticated %}
<p style="font-size:16px;">Welcome, {{ user.first_name }}
    {{ user.last_name }} (<strong>{{ user.username }}</strong>)</p>
{% endif %}
<hr>
   {% if messages %}
        {% for message in messages %}
            <div style="background-color: firebrick; font-size: 28px">{{ message }}</div>
        {% endfor %}
    {% endif %}
    <p></p>
    Student: {{ school_pass.student }}<br>
    Teacher: {{ school_pass.teacher }}<br>
    Pass info: {{ school_pass.description }}<br>
    Created: {{ school_pass.time_left }}<br>
    <form action="{% url 'pagethree' school_pass.id %}" method="POST">
    {% csrf_token %}
    Teacher ID: {{ form.teacher_username }}<br>
    Password: {{ form.teacher_password }}<br>
    <input type="submit" value="Returned">
    </form>
{% endblock %}