{%  extends 'schoolpass/base.html' %}
{% block content %}
<h1>Log-in Screen</h1>
<hr>
    {% if form.errors %}
        <div style="background-color: firebrick; font-size: 28px;">Invalid Username and/or password</div>
    {% endif %}

    {% if next %}
        <div style="background-color: firebrick; font-size: 28px;">Access to the page denied.</div>
    {% endif %}
    <form method="post" action="{% url 'login' %}">
        {% csrf_token %}
        <p>Username: {{ form.username }}</p>
        <p>Password: {{ form.password }}</p>
  <input type="submit" value="Log in" />
   {% if user.is_authenticated %}
       <input type="button" onclick="location.href='{% url 'logout' %}';" value="Log out" />
   {% endif %}
  <input type="hidden" name="next" value="{{ next }}" />


    </form>
{% endblock %}